{% extends 'base.html' %} {% block content %}
<h1>Welcome to CRM</h1>

{% if user.is_authenticated %}
<h1>Client List</h1>
{% if clients %}
{% for client in clients %}
{{ client.full_name }} <br>
{{ client.email }} <br>
{{ client.phone }} <br>
{{ client.address }} <br>
{{ client.city }} <br>
{{ client.state }} <br>
{{ client.zipcode }} <br>   
{% endfor %}
{% endif %}
{% else %}

<div class="header-login">
    <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <input
            type="text"
            class="form-control mb-2"
            placeholder="Username"
            name="username"
            required
        />
        <input
            type="password"
            class="form-control mb-2"
            placeholder="Password"
            name="password"
            required
        />
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endif %} {% endblock content %}
